:root	{
    --botao-desligado: rgb(53, 52, 116);
    --botao-ligado: rgb(76, 74, 165);
    --login-desligado: #D9D9D9;
    --login-ligado: #9b9999;
    --font-principal: "Luckiest Guy", cursive;

 }
 
 body{
    margin: 0;
    padding: 0;
 }

.cabecalho{
    background-color: #000000ad;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    height: 104px;
    
}
.cabecalho_logo {
    align-items: center;
}

.logo{
    width: 90px;
    margin-top: 5px;
}

.cabecalho_escrito{
    color: rgb(255, 255, 255);
    font-family: "Luckiest Guy", cursive;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    border: solid;
    border-color: #000000;
    border-radius: 20px;
    border-width: 3px;
    background-color: var(--botao-desligado);
    padding: 10px 45px;
    margin-top: 15px;
}

.cabecalho_link{
    text-decoration: none;
}

.cabecalho_login {
    font-family: "Actor", sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 10px 20px;
    margin-top: 23px;
    background-color: var(--login-desligado);
}

.fundo {
    width: auto;
    background-image: url(/img/energia_sus_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.205);
}

.cabecalho_escrito:hover {
    background-color: var(--botao-ligado);
}

.cabecalho_login:hover {
    background-color: var(--login-ligado);
}

.caixa_preta{
    background-color: #000000ad;
    margin: 100px;
    border-radius: 50px;
    padding: 50px;
}

.alteracao_de_fonte{
    font-family: var(--font-principal);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.comment-box {
    margin-bottom: 20px;
}
.comment-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}
.comment {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comment .author {
    font-weight: bold;
    margin-bottom: 5px;
}
.ccolor{
    color: white;
}